@import "tailwindcss";
@import "@evevault/shared/theme/global.css";
@source "../../../../packages/shared/src/**/*.{ts,tsx}";

/* Tailwind theme extensions */
@theme {
  --font-body: "Body", "FavoritMonoStd", monospace;
  --font-headline: "Headline", "Disket Mono", monospace;
  --color-neutral: #ffffd6;
  --color-crude: #130904;
  --color-quantum: #c64f05;
  --color-matter-01: #181716;
  --color-matter-02: #2b2827;
  --color-matter-03: #3c3836;
  --color-matter-04: #44413f;
  --color-matter-05: #524e4b;
  --color-matter-06: #6d6965;
  --color-error: #942922;
  --color-red-10: #ed4136;
  --color-quantum-40: rgba(255, 71, 0, 0.4);
  --color-quantum-10: rgba(255, 71, 0, 0.1);
  --color-quantum-60: rgba(255, 71, 0, 0.6);
  --color-crude-dark: #0b0b0b;
}

:root {
  /* Font rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--crude, #130904);
  color: var(--neutral, #ffffd6);
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--crude, #130904);
  color: var(--neutral, #ffffd6);
}
